<div class="card h-100 shadow-sm">
    <img src="{{book.pictureUrl}}" alt="" class="img-fluid">

  <div class="card-body d-flex flex-column">
    <a routerLink="shop/{{book.id}}">
      <h6 class="text-uppercase">{{book.bookName}}</h6>
    </a>
    <span class="mb-2">{{book.price |currency:"INR":"symbol"}}</span>


      <div class="btn-group mt-auto">
        <button routerLink="shop/{{book.id}}" type="button" class="btn  btn-outline-secondary mr-2">View</button>
        <button (click)="addItemToCart()" type="button" class="btn btn-outline-secondary">buy</button>
      </div>


  </div>
</div>
