<div class="row" *ngIf="book">
<div class="col-6 d-flex justify-content-center" >
  <img src="{{book.pictureUrl}}" alt="" class="img-fluid w-70" style="width: 315px; height: 520px;">
</div>
<div class="col-6">
  <h3>{{book.bookName}}</h3>
  <h5 class="card-text">-By {{book.bookAuthor}}</h5>

  <p>{{book.description}}</p>
  <h3>{{book.price |currency:"INR":"symbol"}}</h3>
  <div class="d-flex justify-content-start align-items-center">
    <i (click)="decrementQuantity()" class="fa fa-minus-circle text-warning mr-2"></i>
    <span class="font-weight-bold">{{quantity}}</span>
    <i (click)="incrementQuantity()" class="fa fa-plus-circle text-warning mx-2"></i>
    <button (click)="addBookToCart()" class="btn btn-outline-secondary btn-lg ml-4">Add to cart</button>
  </div>
</div>
</div>


