<div class="card-top container-fluid align-self-center">
  <div class="container d-flex justify-content-between">
    <div class="searchbar_wrapper mt-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control form-control-lg" placeholder="Search Here">
        <button type="submit" class="input-group-text btn-success"><i class="bi bi-search me-2"></i> Search</button>
    </div>
    </div>
    <div class="category_wrapper align-self-center">
      <div class="d-flex justify-content-evenly ">
        <div >
          <button style="margin-right: 5px;" class=" btn btn-primary">Category 1</button>
        </div>
        <div>
          <button style="margin-right: 5px;" class=" btn btn-primary">Category 2</button>
        </div>
        <div>
          <button style="margin-right: 5px;" class="btn btn-primary">Category 3</button>
        </div>
      </div>
    </div>
  </div>
</div>
