<!-- <nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="list-inline">
          <li class="list-inline-item">Login</li>
          <li class="list-inline-item"> Register</li>
        </ul>
      </div>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> -->
<div class="nav navbar bg-dark navbar-dark navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 28px;" class="fas fa-book-reader">
       </i><strong style="margin-left: 5px; font-size: 20px;">Bookart</strong>
   </div>
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link " [routerLinkActiveOptions]="{exact:true}" routerLink="/" routerLinkActive="active" aria-current="page" href="#">Buy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/sell-book" routerLinkActive="active" aria-current="page" href="#">Sell your book</a>
      </li>
    </ul>
  </div>
  <div>
    <button class="btn btn-dark">
      <i class="fab fa-opencart" style="font-size: 25px;"></i>
      <div style="font-size: 10px"class="badge bg-danger rounded-circle">4</div>
    </button>
  </div>
  </div>
</div>
